name: CI DeevSecOps - Movies

on:
  push:
    branches: ["main","feature/pipeline-movies"]
  pull_request:
    branches: ["main","feature/pipeline-movies"]

jobs:
  checkout:
    name: 1) checkout repo
    runs-on: ubuntu-latest
    outputs:
      sha: ${{ steps.get_sha.outputs.sha}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - id: get_sha
        run: echo "sha=${{ github.sha}}" >> $GITHUB_OUTPUT
  sast:
    name: 2) SAST (SonarCloud)
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=${{ secrets.SONAR_ORG }}
            -Dsonar.projectKey=gespinoza-dev_devsecops-laboratorio
            -Dsonar.pullrequest.key=${{ github.event.pull_request.number }}
            -Dsonar.pullrequest.branch=${{ github.head_ref }}
            -Dsonar.pullrequest.base=${{ github.base_ref }}  

  sca:
    name: 3) SCA (OWASP Dependency-Check)
    runs-on: ubuntu-latest
    needs: [checkout, sast]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Dependency-Check - install
        run: |
          curl -L https://github.com/jeremylong/DependencyCheck/releases/download/v11.1.0/dependency-check-11.1.0-release.zip -o dc.zip
          sudo apt-get update && sudo apt-get install -y unzip
          unzip dc.zip -d $HOME/dc

      - name: Dependency-Check - analyze
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
        run: |
          $HOME/dc/dependency-check/bin/dependency-check.sh \
            --scan . \
            --format "JSON" \
            --out reports \
            --nvdApiKey $NVD_API_KEY \
            --cveValidForHours 24 \
            --failOnCVSS 5.0

      - name: Upload SCA report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: reports
          
  build-image:
    name: 4) Build Docker image
    runs-on: ubuntu-latest
    needs: [checkout, sca]
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build image
        run: |
          docker build -t movies-app:${{ github.sha }} .

      - name: Save image to tar
        run: |
          docker save movies-app:${{ github.sha }} -o image.tar

      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar
  image-security:
    name: 5) Image Security (Trivy)
    runs-on: ubuntu-latest
    needs: [build-image]
    steps:
      - name: Download image
        uses: actions/download-artifact@v4
        with:
          name: docker-image
          path: .

      - name: Load image
        run: docker load -i image.tar

      - name: Install Trivy
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: image
          image-ref: "movies-app:${{ github.sha }}"
          format: "table"
          exit-code: "1"
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH,MEDIUM"

      - name: Upload trivy report (optional)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-report.txt
          if-no-files-found: ignore
  
          
