name: CI DevSecOps

on:
  push:
    branches: ["ci-devsecops", "main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  security-events: write
  checks: write
  pull-requests: read

jobs:
  devsecops:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # SAST: SonarCloud Code Analysis
      - name: Set up JDK for SonarCloud
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: SonarCloud Scan (SAST)
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: >
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.organization=${{ secrets.SONAR_ORG }}
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
            -Dsonar.sources=.
            -Dsonar.branch.name=${{ github.ref_name }}
            -Dsonar.qualitygate.wait=true
            -Dsonar.verbose=true

      # SCA: Dependency Check for supply chain vulnerabilities
      - name: Run Dependency Check (SCA)
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: 'devsecops-laboratorio'
          path: '.'
          format: 'JSON'
          args: >
            --fail-on-cvss 4.0
            --scan /github/workspace

      - name: Upload Dependency Check Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: reports/

      # Docker Build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: false
          tags: devsecops-laboratorio:latest
          outputs: type=docker,dest=/tmp/image.tar

      - name: Load Docker Image
        run: docker load --input /tmp/image.tar

      # Image Security: Trivy Scan.
      - name: Trivy Image Scan (Image Security)
        uses: aquasecurity/trivy-action@master
        with:
          input: '/tmp/image.tar'
          format: 'table'
          severity: 'MEDIUM,HIGH,CRITICAL'
          exit-code: '1'
