name: CI DevSecOps Movies (Paso 4 - SCA)

on:
  push:
    branches: [ "feature-pipeline-seguro" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  prepare-node:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Node.js 20 + cache
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            **/package-lock.json

      - name: Mostrar versiones
        run: |
          node -v
          npm -v

      - name: Instalar dependencias
        run: npm ci

      - name: Compilar (si existe script build)
        run: |
          if npm run | grep -q " build"; then
            npm run build
          else
            echo "No hay script 'build' en package.json; solo verificación."
          fi

      - name: Chequeo TypeScript (opcional)
        if: ${{ hashFiles('tsconfig.json') != '' }}
        run: npx tsc --noEmit

  sast:
    runs-on: ubuntu-latest
    needs: prepare-node
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Ejecutar SAST con Semgrep (OWASP Top 10)
        id: semgrep
        uses: returntocorp/semgrep-action@v1
        with:
          config: "p/owasp-top-ten"
          generateSarif: true
          error: false #Para bypasear el control y seguir con el sca

      - name: Guardar artefactos SAST (SARIF + logs)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-sast-${{ github.run_id }}
          path: |
            semgrep.sarif
            ${GITHUB_WORKSPACE}/**/.semgrep/semgrep.log
          if-no-files-found: ignore

  sca:
    runs-on: ubuntu-latest
    needs: sast
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Ejecutar análisis SCA con Trivy
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: fs                # analiza el sistema de archivos
          scanners: vuln,config,secret # busca vulnerabilidades, configuraciones inseguras y secretos
          severity: CRITICAL,HIGH,MEDIUM
          exit-code: 1                 # falla si detecta Medium o superior
          ignore-unfixed: true         # ignora CVE sin fix disponible

      - name: Guardar reportes SCA
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: sca-trivy-${{ github.run_id }}
          path: trivy-report.json
          if-no-files-found: ignore
