name: Workflow
on:
  push:
    branches:
      - main
jobs:
  SAST:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Exists proyect on SonarCloud Service
        id: validateProjectSonar
        run: |
          curl -f -X POST -u '${{secrets.SONAR_TOKEN}}:' 'https://sonarcloud.io/api/projects/create' -d 'name=${{github.event.repository.name}}' -d 'organization=claudioandre94-blip' -d 'project=${{github.event.repository.name}}' -d 'visibility=public'
          if [ $? -eq 0 ]; then
            echo "Proyecto creado exitosamente en SONARCLOUD"
            curl -f -X POST -u '${{secrets.SONAR_TOKEN}}:' 'https://sonarcloud.io/api/project_branches/rename' -d 'name=main' -d 'project=${{github.event.repository.name}}'
          else
            echo "El proyecto ya existe en SonarCloud o hubo un problema al intentar crearlo"
          fi

      - name: Configure Node Project
        uses: actions/setup-node@v4

      - name: Install SonarCloud Node JS
        run : npm install -g @sonar/scan

      - name: Configure NodeJs Project
        run : npm install  

      - name: Run SonarCube on Project
        run : sonar-scanner -Dsonar.token=${{secrets.SONAR_TOKEN}} -Dsonar.organization=claudioandre94-blip  -Dsonar.projectKey=${{github.event.repository.name}}

      - name : Obtaing results from SonarCloud
        run :  |
          issueValidate=$(curl -s -X GET -u '${{secrets.SONAR_TOKEN}}:' 'https://sonarcloud.io/api/issues/search?branch=main&componentKeys=${{github.event.repository.name}}&facets=severities' | jq '.facets[0].values[1].count')
          echo "Cantidad de Issues Bloqueantes : $issueValidate"
          if [ "$issueValidate" -gt 0 ]; then
            echo "Se encontraron issues bloqueantes. Se quiebra el pipeline."
            exit 1
          else
            echo "No se encontraron issues bloqueantes. Pipeline Continua."
          fi

  SCA:
    needs: SAST
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure Node Project
        uses: actions/setup-node@v4

      - name: Configure NodeJs Project
        run : npm install

      - name: Run OWASP Dependecy-Check
        uses: dependency-check/Dependency-Check_Action@1.1.0
        env:
          JAVA_HOME: /opt/jdk
        with:
          project: '${{github.event.repository.name}}'
          path: '.'
          format: 'HTML'
          out: 'reports'
          args: > 
            --failOnCVSS 7
            --enableRetired

      - name: Upload Test Results
        uses: actions/upload-artifact@master
        with:
          name: Depcheck report
          path: ${{github.workspace}}/reports

  DockerBuild:
    needs: SCA
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure Node Project
        uses: actions/setup-node@v4

      - name: Configure NodeJs Project
        run : npm install build

      - name: Build Docker Images
        run : |
          docker build --tag tareadevsecopsUsachfinalClaudioQuiroz:latest .

      - name: Login to DockerHub
        uses: docker/login-action@v3.0.0
        with:
          username: ${{secrets.DOCKER_USER}}
          password: ${{secrets.DOCKER_PASSWORD}}
        
      - name: Push to DockerHub
        run : |
          docker push ${{secrets.DOCKER_USER}}/tareadevsecopsUsachfinalClaudioQuiroz:latest